JWT_VER=someint
JWT_EXP=someint
JWT_REFRESH_EXP=someint
JWT_SECRET=somestring
JWT_REFRESH_SALT=somestring
DB_USER=somestring
DB_PASS=somestring
DB_PORT=someint
AUTH_SERVICE_DB=somestring
USERS_SERVICE_DB=somestring
APPOINTMENTS_SERVICE_DB=somestring