.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log
.eslintcache

node_modules/
apps/*/build
apps/*/dist
apps/*/out
apps/medical-appointment-frontend/.vite

.env
apps/*/.env
apps/*/*.env
apps/*/*.env.development
apps/*/*.env.test
apps/*/*.env.production
!apps/*/.env.example

*.tsbuildinfo

.docker/
docker-compose.override.yml